* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: "Merriweather", serif;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  display: none;
}

main {
  width: 100%;
}

nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: black;
  transition: all 0.5s;
  overflow: hidden;
}
nav .contenedorIconoMenu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 0;
  display: none;
  transition: all 0.5s;
}
nav .contenedorIconoMenu ion-icon {
  width: 100%;
  height: 100%;
  color: white;
}
nav .contenedorIconoMenu:hover {
  transform: rotate(180deg);
}
nav ul {
  display: flex;
  width: 100%;
  height: 100%;
}
nav ul li {
  width: 25%;
  height: 100%;
  transition: all 0.25s;
}
nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
nav ul li:hover a p {
  color: #502274;
}
nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav ul li a p {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  transition: all 0.25s;
}

.seccion {
  width: 100%;
  height: calc(100vh - 50px);
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.contenedorSeccion {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedorLogo {
  width: 400px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(15px);
  display: flex;
  border-radius: 20px;
  transition: all 0.25s;
  cursor: default;
  margin: 10px;
  overflow: hidden;
}
.contenedorLogo:hover {
  box-shadow: 0px 0px 10px black;
}
.contenedorLogo:hover .contenedorTextoLogo #logoNombre, .contenedorLogo:hover .contenedorTextoLogo #logoNegocio, .contenedorLogo:hover .contenedorTextoLogo #logoCodigo {
  color: #6b4ba1;
}

.contenedorImagenLogo {
  width: 30%;
  height: calc(100% - 20px);
  padding: 10px;
  background-color: black;
  border-radius: 20px;
}

.contenedorTextoLogo {
  width: 70%;
  height: calc(100% - 20px);
  padding: 10px;
}

.contenedorImagenLogo img {
  width: 100%;
  height: 100%;
}

.primeraSeccion {
  background-image: url("../multimedia/Fondo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#logoNombre,
#logoNegocio,
#logoCodigo {
  width: 100%;
  color: #999999;
  font-weight: lighter;
}

#logoNombre {
  font-size: 27.5px;
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.25s;
  /*&:hover {
    color: rgb(58, 23, 114);
  }*/
}

#logoNegocio {
  font-size: 20px;
  height: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.25s;
  /*&:hover {
    color: rgb(200, 116, 217);
  }*/
}

#logoCodigo {
  font-size: 10px;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.25s;
  /*&:hover {
    color: rgb(200, 116, 217);
  }*/
}

footer {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
footer .contenedorFooter {
  padding: 10px;
}
footer .contenedorFooter a {
  display: flex;
  gap: 10px;
}
footer .contenedorFooter a ion-icon {
  color: black;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  transition: all 0.25s;
}
footer .contenedorFooter a p {
  color: black;
  height: 30px;
  display: flex;
  align-items: center;
  transition: all 0.25s;
  margin-bottom: 5px;
}
footer .contenedorFooter a:hover ion-icon, footer .contenedorFooter a:hover p {
  color: #502274;
}

@media only screen and (max-width: 599px) {
  nav .contenedorIconoMenu {
    display: block;
  }
  nav ul {
    display: block;
    position: relative;
    top: 50px;
  }
  nav ul li {
    width: 100%;
    height: 50px;
  }

  .contenedorLogo {
    width: 225px;
    height: auto;
    display: block;
  }

  .contenedorImagenLogo {
    width: calc(100% - 60px);
    height: 175px;
    padding: 30px;
  }

  .contenedorTextoLogo {
    width: calc(100% - 20px);
    height: 40%;
    padding: 10px;
  }

  #logoNombre {
    font-size: 20px;
    height: auto;
    align-items: center;
    margin: 5px 0;
  }

  #logoNegocio {
    font-size: 15px;
    height: auto;
    align-items: center;
    margin: 5px 0;
  }

  #logoCodigo {
    font-size: 10px;
    height: auto;
    justify-content: center;
    margin: 5px 0 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
